%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [
        {gen_leader, ".*",
         {git, "https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}}
       ]}.

{dialyzer, [{plt_apps, all_deps},
            {plt_extra_apps, [mnesia, runtime_tools, gen_leader]},
            {warnings, [no_unused,
                        no_improper_lists, no_fun_app, no_match,
                        no_opaque, no_fail_call,
                        error_handling, no_match,
                        unmatched_returns, underspecs]}]}.

{profiles, [
            {edown, [
                     {deps, [
                             {edown, "0.9.1"}
                            ]}
                    , {edoc_opts, [{doclet, edown_doclet},
                                   {app_default, "http://www.erlang.org/doc/man"},
                                   {branch, "master"},
                                   {top_level_readme,
                                    {"./README.md",
                                     "http://github.com/uwiger/gproc", "master"}}]}
                    ]}
           ]}.

{shell, [{apps, [gproc]}]}.
