%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}},
        {gen_leader, ".*",
         {git, "git://github.com/abecciu/gen_leader_revival.git", "HEAD"}}
       ]}.
{dialyzer_opts, [{warnings, [no_unused,
                             no_improper_lists, no_fun_app, no_match,
                             no_opaque, no_fail_call,
                             error_handling, no_match,
                             unmatched_returns,
                             behaviours, underspecs]}]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md",
               "http://github.com/esl/gproc"}}]}.
